
.navbar {
    background: rgb(39, 39, 39);
    color: rgb(243, 142, 47);
    display: grid;
    grid-template-columns: auto 3fr auto;
    align-items: center;
    text-align: center;
    overflow: hidden;
    font-family: 'Michroma', sans-serif;
}

.logo {
    width: 40px;
    padding: 15px;
}

.app-name {
    font-size: 2rem;
    background: -webkit-linear-gradient(45deg,red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-btn {
    border: none;
    background-color: unset;
    color: rgb(243, 142, 47);
    text-transform: uppercase;
    padding: 20px;
    cursor: pointer;
}